body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
h2 {
    color: #333;
}

form,
table {
    margin-bottom: 20px;
}

form {
    display: grid;
    max-width: fit-content;
    grid-template-columns: 100px 1fr;
}

input{
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #ff3a3a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}